<nav id="sidebar" class="lorvens-bg">
    <div class="sidebar-header">
        <a href="overview.html"><img src="assets/images/logo.png" class="logo" alt="logo"></a>
        <a href="overview.html"><img src="assets/images/minimal-logo.png" class="minimal-logo" alt="logo"></a>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="overview">
                <span class="ti-home"></span> Dashboard
            </a>
        </li>
        <li class="nav-level-one">
            <a href="#nav-uiKit" data-toggle="collapse" aria-expanded="false">
                <span class="ti-layers-alt"></span> Organisation Structure
            </a>
            <ul class="list-unstyled collapse" aria-expanded="true" id="nav-uiKit">
                <li>
                    <a href="companystructure/create">Create</a>
                </li>
                <li>
                    <a href="companystructure/corporate">Corporate</a>
                </li>
                <!--<li>
                    <a href="companystructure/divisions">Divisions</a>
                </li>-->
                <li>
                    <a href="companystructure/departments">Departments</a>
                </li>
                <li>
                    <a href="companystructure/units">Units</a>
                </li>
                <li>
                    <a href="companystructure/teams">Teams</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="staffs">
                <span class="ti-user"></span> Employees
            </a>
        </li>
        <li>
            <a href="#nav-charts" data-toggle="collapse" aria-expanded="false">
                <span class="ti-rocket"></span> Goals/Perspectives
            </a>
            <ul class="collapse list-unstyled" id="nav-charts">
                <li>
                    <a href="goals/create">Create</a>
                </li>
                <li>
                    <a href="goals/all">All</a>
                </li>
                <li>
                    <a href="goals/financials">Financials</a>
                </li>
                <li>
                    <a href="goals/customers">Customers</a>
                </li>
                <li>
                    <a href="goals/internalprocesses">Internal Processes</a>
                </li>
                <li>
                    <a href="goals/learninggrowth">Learning & Growth</a>
                </li>
                <li>
                    <a href="goals/balancedscorecard">Balanced Score Card</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#nav-maps" data-toggle="collapse" aria-expanded="false">
                <span class="ti-files"></span> Reports
            </a>
            <ul class="collapse list-unstyled" id="nav-maps">
                <li>
                    <a href="reports/all">All Reports</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="notifications">
                <span class="ti-bell"></span> Notifications
            </a>
        </li>
        <li>
            <a href="companysettings">
                <span class="ti-settings"></span> Settings
            </a>
        </li>
        <li>
            <a href="logout">
                <span class="ti-lock"></span> Logout
            </a>
        </li>				
    </ul>
    <div class="nav-help animated fadeIn">
        <h5>Need Help</h5>
        <h6>
            <span class="ti-mobile"></span>+234 805 567 9890</h6>
        <h6>
            <span class="ti-email"></span>info@metricsmanager.com</h6>
        <p class="copyright-text">Copyrights &copy; 2020</p>
    </div>
</nav>