<div id="content" class="animated fadeIn">
    <div class="logocontainer"><br><img src="assets/images/logo2.png" /><br></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 auth-box">
                <div class="lorvens-box-shadow">
                    <h3 class="widget-title">Reset Password</h3>
                    <form class="widget-form" #form="ngForm" (ngSubmit)="passwordreset(form)">
                        <!-- form-group -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input name="password" ngModel placeholder="New password" class="form-control" required="" type="password">
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <!-- form-group -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input name="passwordtwo" type="password" class="form-control" placeholder="Confirm password" ngModel required>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <!-- Button -->			
                        <div class="button-btn-block">
                            <img src="assets/images/loading.gif" width="50" height="50" *ngIf="formloading" />
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Change</button>
                        </div>
                        <!-- /Button -->	
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>