<div id="content" class="animated fadeIn">
    <div class="logocontainer"><br><img src="assets/images/logo2.png" /><br></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 auth-box">
                <div class="lorvens-box-shadow">
                    <h3 class="widget-title">Forgot Password</h3>
                    <form class="widget-form" #form="ngForm" (ngSubmit)="forgotpassword(form)">
                        <!-- form-group -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input name="email" ngModel placeholder="Email" class="form-control" required="" type="text" data-validation="length alphanumeric" data-validation-length="3-12" data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)" data-validation-has-keyup-event="true">
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <!-- form-group -->
                        <div class="form-group row" *ngIf="passcheck">
                            <div class="col-sm-12">
                                <input name="resetcode" type="text" class="form-control" placeholder="Reset code" ngModel required>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <!-- Button -->			
                        <div class="button-btn-block">
                            <img src="assets/images/loading.gif" width="50" height="50" *ngIf="formloading" />
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Reset</button>
                        </div>
                        <!-- /Button -->	
                        <!-- Links -->	
                        <div class="auth-footer-text">
                            <small>New User? <a href="register">Sign up</a> here</small><br>
                        </div>
                        <!-- /Links -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>